# Path to image data root directories
#RootDir1 = /media/hyperbird/996eaa96-1b30-4b7e-902e-40be9c6c8ae9
RootDir1 = /media/hyperbird/c8fed6e1-78f8-4dc8-91a7-91ba3f3165c2
RootDir2 = /media/hyperbird/c8fed6e1-78f8-4dc8-91a7-91ba3f3165c2
#RootDir2 = /media/hyperbird/996eaa96-1b30-4b7e-902e-40be9c6c8ae9

# Wether to perform the flat-field correction (1 = yes; 0 = no)
FlatFieldCorrection = 0

# Spectral (Vertical) binning (1x, 2x, 4x, 8x)
SpectralBinning = 1

# Spatial (Horizontal) binning (1x, 2x, 4x, 8x)
SpatialBinning = 1

# Exposure time in seconds (minimum value: 0.005)
ExpTime = 0.025

# Shutter mode: 0 = Rolling ; 1 = Global
GlobalShutter = 1

# Motion speed during the scanning process (mm/min)
ScanSpeed = 16

# Lens aperture must be manually set!
Aperture = 11

# Lens focus distance must be manually set!
# LensFocusDis = 3ft

# Default Z position of the tray during scans [0.0 min; 25.0 max]
# Higher value means the tray will be farther from the lens.
# Optimal Z position is [12, 15]
Zpos = 10

# Pixel bit Depth/Resolution: 12 or 16 (High-Dynamic Range)
PixelRes = 12
